.container{
    border: none;
    /* width: auto; */
}

.table td{
    text-align: center;
    font-weight: bold;
    padding: .4rem;
}

.text-center{
    color: black;
}

input[type = 'button']{
    height: 50px;
    width: 50px;
    box-shadow: 1px 3px 7px  #0066FF;
    border: none !important;
    border-radius: 3px;
}

*:focus {
    outline: 0 !important;
}

#result{
    width: 100%;
    height: 3rem;
}

table td:hover {
    /* color: #060d18; */
    border: 2px !important;
    overflow: hidden;
    border-radius: 5px;
}
.text-right{
    height: 40px;
}
body{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);     
}
.table {
    /* border-radius: 5px; */
   margin: auto;
   display: block;
   width: 40% !important; 
   
}
h1{
    margin: auto;
    text-align: center;
    
}